In [51]:
import pandas as pd
import numpy as np
import re
import os

In [ ]:
# Zdefiniowanie kolumn dla nowego DataFrame
columns = ['ts', 'x', 'y', 'cell_no', 'mac', 'channel', 'frequency', 'rssi', 'essid']
# Stworzenie nowego DataFrame ze zdefiniowanymi w liście 'columns' kolumnami
df = pd.DataFrame(columns=columns)

In [ ]:
# Zdefiniowanie kolumn dla nowego DataFrame
scan_columns = ['id', 'mac', 'channel', 'frequency', 'rssi', 'essid']

In [ ]:
file_names = os.listdir('./pi8')

In [ ]:
# koordynaty uzyskanych pomiarów poziomów sieci na czwartym piętrze gmachu
coordinates = [{'x': -30, 'y': 790},
               {'x': -30, 'y': 1140},
               {'x': -30, 'y': 1460},
               {'x': -30, 'y': 1760},
               {'x': -30, 'y': 2100},
               {'x': -220, 'y': 2100},
               {'x': -220, 'y': 1760},
               {'x': -220, 'y': 1460},
               {'x': -220, 'y': 1140},
               {'x': -220, 'y': 790},
               {'x': -125, 'y': 790},
               {'x': -125, 'y': 1140},
               {'x': -125, 'y': 1460},
               {'x': -125, 'y': 1760},
               {'x': -125, 'y': 2100},
               {'x': -125, 'y': 1930},
               {'x': -125, 'y': 1610},
               {'x': -125, 'y': 1290},
               {'x': -125, 'y': 965}]

In [56]:
def convert_data(file_name, cell, x, y):
    scan_df = pd.read_csv(f'./pi8/{file_name}', header=None, names=scan_columns)
    scan_df.drop(columns=['id'], inplace=True)
    
    ts_pattern = re.compile(r'[0-9]{10}')
    ts = re.findall(ts_pattern, file_name)[0]
    scan_df.insert(0, 'ts', ts)
    scan_df.insert(1, 'x', x)
    scan_df.insert(2, 'y', y)
    scan_df.insert(3, 'cell_no', cell)
    return scan_df

In [57]:
for file_name in file_names:
    file_pattern = re.compile(r'[0-9]{1,2}')
    file_num = int(re.findall(file_pattern, file_name)[0])
    new_df = convert_data(file_name, 3, coordinates[file_num]['x'], coordinates[file_num]['y'])
    df = pd.concat([df, new_df], ignore_index=True)

C:\Users\przem\AppData\Local\Temp\ipykernel_16852\4281111177.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_df], ignore_index=True)

In [58]:
df.to_csv('datasets\\data_cell_3.csv', index=False)

In [59]:
df_01 = pd.read_csv('datasets\\a.csv', header=None, names=['ts', 'x', 'y', 'cell_no', 'mac', 'channel', 'frequency', 'rssi', 'essid'])

In [60]:
df_02 = pd.read_csv('datasets\\dane_zespol_2.csv')
df_02.rename(columns={"MAC": "mac", "ssid": "essid"})

,ts,x,y,cell_no,mac,channel,frequency,rssi,essid
0,15:41,-970,0,1,24:81:3B:28:D1:01,1,2.412,-60,pw.edu.pl
1,15:41,-970,0,2,BA:FB:E4:C7:71:76,11,2.462,-69,Techgeneration
2,15:41,-970,0,3,B4:FB:E4:C7:71:76,11,2.462,-71,WEiTI
3,15:41,-970,0,4,24:81:3B:28:D1:00,1,2.412,-60,eduroam
4,15:41,-970,0,5,24:81:3B:28:D1:02,1,2.412,-57,konferencja
...,...,...,...,...,...,...,...,...,...
546,15:46,-1125,270,45,4C:ED:FB:D3:F5:88,1,2.412,-87,542
547,15:46,-1125,270,46,22:E8:29:E4:3B:46,1,2.412,-72,NaN
548,15:46,-1125,270,47,18:E8:29:E4:3B:46,1,2.412,-75,WEiTI
549,15:46,-1125,270,48,10:B3:D6:07:CE:60,11,2.462,-97,eduroam
550,15:46,-1125,270,49,34:69:87:F3:D2:59,13,2.472,-88,CPE_F3D259

In [61]:
df_04 = pd.read_csv('datasets\\wyniki-z4.csv')
df_03 = pd.read_csv('datasets\\data_cell_3.csv')

In [62]:
df_07 = pd.read_csv('datasets\\pomiary_z7.csv')
df_07.drop(columns=['meas_id', 'nr_pomiaru'], inplace=True)
df_07.drop(df_07.columns[0], axis=1, inplace=True)
df_07.rename(columns={"MAC": "mac", "RSSI": "rssi", "SSID": "essid"}, inplace=True)
df_07['ts'] = np.NAN

In [63]:
df_s1 = pd.read_csv('datasets\\students_set_21z.csv')
df_s1['x'] = df_s1['x']*100
df_s1['y'] = df_s1['y']*100
df_s2 = pd.read_csv('datasets\\students_set_22z.csv')
df_s2['x'] = df_s2['x']*100
df_s2['y'] = df_s2['y']*100

In [64]:
df_06 = pd.read_csv("datasets\\new_data.csv", header=None, names=['x', 'y', 'mac', 'essid', 'rssi', 'empty'])

In [65]:
df_06.drop(columns=['empty'], inplace=True)
df_06['ts'] = np.NAN
df_06['cell_no'] = 4
df_06['channel'] = np.NAN
df_06['frequency'] = np.NAN

In [66]:
df_06

,x,y,mac,essid,rssi,ts,cell_no,channel,frequency
0,-970,240,1E:E8:29:E4:3B:46,Techgeneration,-73,NaN,4,NaN,NaN
1,-970,240,60:32:B1:DE:7F:AA,TP-Link_7FAB,-76,NaN,4,NaN,NaN
2,-970,240,B0:48:7A:FF:07:08,fours,-81,NaN,4,NaN,NaN
3,-970,240,B0:48:7A:C0:1A:EE,NITICS_LOCSYS,-65,NaN,4,NaN,NaN
4,-970,240,BA:FB:E4:C7:71:76,Techgeneration,-62,NaN,4,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1935,-538,530,BA:FB:E4:C4:AF:1A,Podyplomowe,-87,NaN,4,NaN,NaN
1936,-538,530,BE:FB:E4:C4:AF:1A,Techgeneration,-88,NaN,4,NaN,NaN
1937,-538,530,22:E8:29:E4:3B:46,NaN,-74,NaN,4,NaN,NaN
1938,-538,530,AC:1F:09:05:1D:F8,RAK7268_1DF8,-82,NaN,4,NaN,NaN
1939,-538,530,A8:F7:E0:01:D8:64,IOT_Lab430,-77,NaN,4,NaN,NaN

In [67]:
out_df = pd.concat([df_03, df_01, df_02, df_04, df_07, df_s1, df_s2, df_06], ignore_index=True)
out_df.to_csv('out_df.csv', index=False)